.gallery {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        vertical-align: bottom;
    }

    .main-img {
        border: solid 2px #333;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .gallery-list {
        display: flex;
        gap: 10px;

        .gallery-list-item {
            border: solid 2px #333;
            border-radius: 10px;
            width: 150px;
            height: 150px;
            overflow: hidden;

            cursor: pointer;
        }
    }
}