.page-listing {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;

    a {
        padding: 10px 25px;
        font-size: 20px;
        background-color: #82caff;
        border: solid 1px #82caff;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: all .5s ease-in;
        text-decoration: none;
    }
}